<DOCTYPE html>
	<head>
		<meta charset="utf-8">
		<title>Color Game by yirunzhou</title>
		<link rel="stylesheet" type="text/css" href="/stylesheet/main.css">
	</head>
	<body>
		<h1>The Great<br><span>RGB</span><br> Color Game</h1>
		<div id="band">
			<button id="reset">NEW COLOR</button>
			<span id="message"></span>
			<button class = "mode">EASY</button>
			<button class = "mode selected">HARD</button>
		</div>
		<div id="container">
			<div class="square"></div>
			<div class="square"></div>
			<div class="square"></div>
			<div class="square"></div>
			<div class="square"></div>
			<div class="square"></div>
		</div>

		<script type="text/javascript" src="/js/main.js"></script>
	</body>